<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <!-- Verbose, if you want a lot of terminal output or not, true/false -->
      <add key="Verbose" value="true" />
    
      <!-- Use forward slashes / when setting log file location -->
      <add key="LogLocation" value="C:/Users/Administrator/Desktop/All+the+Mods+3+Remix+-+v1.3.0-Serverfiles-FULL/logs/latest.log" />
      <!-- Use forward slashes / when setting output IP location -->
      <add key="OutputLocation" value="C:/Users/Administrator/Desktop/vpn.txt" />
      
      
      <!-- TODO: FIX API_FIELD SO THAT IT MAY BE DYNAMIC -->
      
      <!-- URL that IP address will be parsed to.
            https://ip.teoh.io/api/vpn/ -->
      <add key="API_URL" value="https://ip.teoh.io/api/vpn/" />
      
      <!-- API_FIELD, the JSON field you are reading -->
      <add key="API_FIELD" value="vpn_or_proxy" />

      <!-- API_VALUE, the JSON value you are looking for.  This will probably be 1 or "Yes" -->
      <add key="API_VALUE" value="no" />
    </appSettings>
</configuration>